<section class="container p-2">
  <h1>Registro</h1>
  <hr>
<div class="cont-bs">
  <div  class="col-12 ">
    <mat-accordion *ngIf="record.length>0; else loading" >

      <mat-expansion-panel *ngFor="let record of record" (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{record?.name}}
          </mat-panel-title>
          <mat-panel-title>
            {{record?.lastname}}
          </mat-panel-title>
          <mat-panel-description>
            {{record?.update_date}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="">
          <h2 class="text-center">Horario</h2>
        <app-table [schedule]="record['schedules']"></app-table>
        </div>
      </mat-expansion-panel>

    </mat-accordion>
  </div>
  <div  class="col-12  px-2">
    <h4 class="h1 text-center">Consultar historial</h4>
    <div class="d-flex justify-content-around " style="align-items: center;">
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" #pickerr>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <button type="button" mat-raised-button (click)="buscar(pickerr.value)"> buscar</button>
    </div>

    <hr>
    <div  class="col-12">
      <mat-accordion *ngIf="bus.length>0" >

        <mat-expansion-panel *ngFor="let bus of bus" (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{bus?.name}}
            </mat-panel-title>
            <mat-panel-title>
              {{bus?.lastname}}
            </mat-panel-title>
            <mat-panel-description>
              {{bus?.update_date}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="">
            <h2 class="text-center">Horario</h2>
          <app-table [schedule]="bus['schedules']"></app-table>
          </div>
        </mat-expansion-panel>

      </mat-accordion>
    </div>

  </div>
</div>
  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>
</section>
