<footer class="text-center pt-2 text-lg-start  text-muted">
  <div class="">
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4 " style="font-size: 14px;">
              <i class="fa-solid fa-school me-3 "></i> <span >Propiedad: Finca los  Lirios</span> 
            </h6>
          </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4" style="font-size: 14px;">   </h6>
              <p class="text-reset"></p>
              <a href="https://wa.link/ymf07p" target="_blank" class="me-4 ">
                <i class="fa-brands fa-whatsapp"></i> <span> </span>
              </a>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4" style="font-size: 14px;"></h6>
            <p><i class="fas fa-home me-3 "></i> </p>
          </div>
        </div>
      </div>
    </section>
    <div class="text-center p-2 footer-p" >
      © {{anio}} Copyright: Proyecto PAS finca los lirios
    </div>
  </div>
</footer>
