/* You can add global styles to this file, and also import other style files */
@use 'assets/styles/root.scss';
body{
  /*background-image: url("./assets/icons/esta.jpeg");*/
  background-color:#f099ff;
background-image: url(./assets/img/finca.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: 100%
;
}