$colors: (
    blue: #006CB6,
    sky-blue: #1FC3F3,
    blue-dark: #03395F,
    blue-light: #006CB6,
    text-white: #FFFFFF,
    white: #FFFFFF,
    yellow: #ffc569,
    coffe-dark: #0037ff,
    coffe: #026031,
    green: #cd44ff,
    orange-dark: #a40041,
    sensor-h: rgb(175, 114, 8),
    sensor-t: rgb(255, 251, 0),
);

$padding: 10px;
$margin: 10px;

$screen-desktop: 950px;
$screen-tablet: 750px;

$size: 30px;

@function color($color-name) {
    @return map-get($colors, $color-name);
}
